
@{
    ViewBag.Title = "Doctor";
}
<style>
    .border-box {
        border:ridge;
        padding:15px;
        margin:2px;
    }

    .btn-round {
        border-radius: 100px;
        font-size: 80px;
    }
</style>
<h2>Doctor</h2>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="row border-box">
            <h2 class="text-center">Pending</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Token #</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-4">
        <div class="row border-box">
            <h2 class="text-center">Token Available</h2>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-round">121</button>
            </div>
            <div class="text-center" style="margin-top:20px;">
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>


        </div>

    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-4">
        <div class="row border-box">
            <h2 class="text-center">Cancelled</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Token #</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Parth</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>