@model Queue_Project.Models.Chart_Model
@{
    ViewBag.Title = "Chart";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<link href="~/Content/MyCustomCSS/Chart.css" rel="stylesheet" />
<style>
</style>
<div class="mainDiv">
    <h2 class="text-center"><b>Chart</b></h2>
    <canvas id="myChart" style="width:100%;"></canvas>
</div>
<div class="mainDiv" style="margin-top:50px;">
    <h2 class="text-center"><b>Visited Patient List</b></h2><div class="text-right"><input type="date" class="form-control" value="" id="dateval" /></div>
    <div class="divPatientList">
        <table class="tblpatient table table-striped">
            <thead><tr><th>Patient</th><th>Phone</th><th>Token</th></tr></thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        var date = "@Model.DateVal";
        $("#dateval").val(date);

        setTimeout(function () { $("#dateval").trigger("change"); },500);


        $("#dateval").change(function (e) {
            e.preventDefault();
            var strdataval = $(this).val();

            $.ajax({
                url: "/Chart/GetVisitedPatients?dateval=" + strdataval,
                type: "Get",
                data: [],
                dataType: 'json',
                success: function (result) {

                    var str = "";
                    $(result).each(function (i, val) {
                        str += "<tr>";
                        str += "<td>";
                        str += val.PatientName;
                        str += "</td>";
                        str += "<td>";
                        str += val.Phone;
                        str += "</td>";
                        str += "<td>";
                        str += val.TokenNumber;
                        str += "</td>";
                        str += "</tr>";

                    });

                    $(".tblpatient > tbody").html(str);

                },
                error: function (err) {
                    console.log(err);
                }
            });

        });



        $.ajax({
            url: "/Chart/GetChartData",
            type: "Get",
            data: [],
            dataType: 'json',
            success: function (result) {

                var xValues = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];

                const DATA_COUNT = 12;
                const NUMBER_CFG = { count: DATA_COUNT, min: 0, max: 100 };

                var not_visitedList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                var visitedList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                var cancelList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

                result.map(function (val, i) {

                    if (val.Pstatus == "Cancelled") {
                        cancelList[val.MonthVal - 1] = val.CountVal;
                    }

                    if (val.Pstatus == "Visited") {
                        visitedList[val.MonthVal - 1] = val.CountVal;
                    }

                    if (val.Pstatus == "Not_Visited") {
                        not_visitedList[val.MonthVal - 1] = val.CountVal;
                    }
                });


                const labels = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];//Utils.months({ count: 7 });
                const data = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Visited',
                            data: visitedList,
                            borderColor: "green",
                            backgroundColor: "green",
                        },
                        {
                            label: 'Cancelled',
                            data: cancelList,
                            borderColor: "red",
                            backgroundColor: "red",
                        },
                        {
                            label: 'Not Visited',
                            data: not_visitedList,
                            borderColor: "brown",
                            backgroundColor: "brown",
                        }
                    ]
                };

                const config = {
                    type: 'bar',
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Monthly Data'
                            }
                        }
                    },
                };
                new Chart("myChart", config);

            },
            error: function (err) {
                console.log(err);
            }
        });



    });

</script>