
body {
    background-image: url("/Images/doctor_bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: 3%;
}

.navbar-inverse {
    background-color: #2e4b42 !important;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 25px;
    }

.mainDiv {
    background: #7bc0a991;
    padding: 10px;
    border-radius: 40px;
    display: inline-block;
}

.img_main {
    width: 100%;
    padding: 20px;
}

.left {
    float: left;
    width: 50%;
}

.leftm {
    float: left;
    margin-right: -15%;
}

p {
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 3%;
        padding-top: 20%;
    }

    .mainDiv {
        background: #7bc0a9d1;
    }

    .left {
        float: none;
        width: 100%;
    }

    .leftm {
        float: none;
        margin-right: 100%;
    }
}
